html {
  color: $font-color;
  font-family: $body-font, sans-serif;
  font-size: $global-font-size;
}

p,
a,
button,
table,
thead,
tbody,
th,
tr,
td,
input,
textarea,
select,
option {
  font-family: $body-font, sans-serif;
  .fill &{
    font-family: $body-font-alt, sans-serif;
    font-size: 0.85rem;
    // font-weight:bold;
    // letter-spacing: 1px;
    // font-size: 3.97rem;
    // padding-bottom:0.15rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $header-font-size;
  font-family: $header-font, sans-serif;
  font-weight: bold;
  .fill &{
    font-family: $header-font-alt, sans-serif;
    font-weight:bold;
  }
}

h1 {
  font-size: 3rem;
  .fill &{
   
    letter-spacing: 1.25px;
    font-size: 2.97rem;
    //padding-bottom:0.15rem;
  }
}

h2 {
  font-size: 2rem;
  .fill &{
    letter-spacing: 0.8px;
    font-size: 1.97rem;
    //padding-bottom:0.15rem;
  }
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.6rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
