.list {
	.number {
		display: inline-block;
		padding: 0.25rem 0.5rem;
		color: #fff;
		background: var(--text);
		position: relative;
		padding-top: 1rem;
		padding-left: 1rem;

		&:after {
			content: '';
			display: block;
			position: absolute;

			width: 5px;
			height: 4px;
			background: var(--background);
			right: -5px;
			bottom: -4px;
		}
	}
	h2 {
		display: inline-block;
		border-bottom: 4px solid var(--text);
		font-size: bold;
		font-family: var(--font-heading);
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
