
  
.raiseText{
	margin:0;
	display: inline-block;

		animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-name: raiseAnimationText;
	 animation-duration: 1.25s;
	 animation-fill-mode: both;
	color:var(--background);
	&::selection { color:var(--background);}
	
}

@keyframes raiseAnimationText {
	0%{
		color:var(--background);
		text-shadow: 
					-1px -1px 0 rgba(0,0,0,0), 
					1px -1px 0 rgba(0,0,0,0),
					-1px 1px 0 rgba(0,0,0,0),
					1px 1px 0 rgba(0,0,0,0);
		transform:translate(0px,0px);

	}
	40%{
		color:var(--background);
		text-shadow: 
		-1px -1px 0 rgba(0,0,0,0.05), 
					1px -1px 0 rgba(0,0,0,0.05),
					-1px 1px 0 rgba(0,0,0,0.05),
					1px 1px 0 rgba(0,0,0,0.05);
		transform:translate(0px,0px);
	}
	60%{
		color:var(--background);
		text-shadow: 
				-1px -1px 0 rgba(0,0,0,0.15), 
					1px -1px 0 rgba(0,0,0,0.1),
					-1px 1px 0 rgba(0,0,0,0.1),
					1px 1px 0 rgba(0,0,0,0.1);
		transform:translate(0px,0px);
	}
	100%{
		color:var(--backgroundLight);
		transform:translate(-6px,-3px);
		text-shadow: 
			-2px -6px 7px rgba(255,255,255,0.75),
			1px 2px 0px rgba(0,0,0,.05),
			2px 2px 0px rgba(0,0,0,.05),
			3px 2px 0px rgba(0,0,0,.05),
			4px 2px 0px rgba(0,0,0,.05),
			5px 2px 0px rgba(0,0,0,.05),
			30px 20px 40px rgba(0,0,0,.35);
		@include long-shadow($type: text, $color: rgba(0,0,0,.35), $length: 20, $fadeout: false, $skew: true, $direction: right);

	}

  }



.raise{
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-name: raiseAnimation;
	 animation-duration: 0.75s;
	 animation-fill-mode: forwards;
	color:var(--background);
}

