.Resume {
	height: 100vh;
	position: relative;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	> header {
		background: var(--background);
		//min-height: 75vh;
		z-index: 500;
	}
	> main {
		position: relative;
		height: 100%;
		margin-bottom: 100px;
		padding: 1rem;
		z-index: 500;
		background: #fff;
		background: var(--background);
	}
	> footer {
		padding: 1rem;
		z-index: 100;
		background: #000;
		color: #fff;
		position: fixed;
		height: 50%;
		bottom: 0;
		left: 0;
		width: 100%;
		display: flex;
		align-items: flex-end;
	}
}
